  
<div class="row">
         <div class="col-sm-2 col-sm-offset-3 bg-card">
    <center>
    <nav id="sidebar" class="navbar-lg align-cente">
        <div class="sidebar-header">
        </div>

        <ul class="list-unstyled components">
<i class="material-icons" style="font-size:100px;">people</i>
</li>
            <h2>{{currentUser.username}}</h2>
          <li>
              </li>
          <li>
<li>  <a href="/tickets/new" class="btn btn-primary navbar-btn"><i class="material-icons" style="font-size:15px;">add</i>
New Evaluation</a>

      <a href="/tickets/queued/scribe" class="href">Queued</a>
      </li>
      <li>      <a href="/scribe/{{currentUser.username}}" class="href">Proccessed</a>
</li>

 
    </nav>
    </center>
	      </div>



    <div class="col-sm-6 col-sm-offset-3 bg-card">
        <h3>{{ticket.imageName}}</h3>

        <p>{{ticket.context}}</p>
        <div><small>{{ticket.author.username}}</small></div>
        <center>
         <img class="show-image" src="{{ticket.url}}"> 
         </center>     
        </div>

    <div class="col-sm bg-card">
        {{#if ticket.evaluations}}
        <h4>Evaluation</h4>
        {{#each ticket.evaluations}}
            <div>
                <p>{{this.description}}</p>
                <p class="text-right">{{this.author.username}}</p>
            </div>
        {{/each}}
        {{else}}
        <hr>
        {{#if currentUser}}
            <form action="/tickets/{{ticket._id}}/evaluations" method="POST">
                <h3>Annotation</h3>
                <label for="evaluation-description">Description</label>
                <textarea class="form-control" id="evaluation-description" name="description" placeholder="provide a detailed description of the image to your left"></textarea>
                <div class="text-right">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        {{else}}
            <h6>Log in or sign up to leave a comment.</h6>
        {{/if}}


        {{/if}}

    </div>
</div>