  
<div class="row">
      <div class="col-sm-2 col-sm-offset-3 align-cente">
    	<div class="wrapper">
    <!-- Sidebar -->
    <center>
    <nav id="sidebar" class="navbar-lg align-cente">
        <div class="sidebar-header">
        </div>

        <ul class="list-unstyled components">
<i class="material-icons" style="font-size:100px;">people</i>
</li>
           <li>


      </li>
            <h1>{{currentUser.username}}</h1>
       
          <li>


      <a href="/tickets/queued/scribe" class="href">Queued</a>
      </li>
      <li>      <a href="/scribe/{{currentUser.username}}" class="href">Proccessed</a>
</li>

 
    </nav>
    </center>

</div>

    </div>
    <div class="col-lg bg-card">
        <ul>
            {{#each tickets}}

              <li class="list-group-item list-group-item-card">
                <div class="lead">
                  <a href="/tickets/{{this._id}}/scribe" class="href">{{this.imageName}}</a>
                </div>
                <div class="text-right">
                  <a href="/n/{{this.profile}}">{{this.author.username}}</a>
                </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>



