  
<div class="row">
         <div class="col-sm-2 col-sm-offset-3">
    <center>
    <nav id="sidebar" class="navbar-lg align-cente">
        <div class="sidebar-header">
        </div>

        <ul class="list-unstyled components">
<i class="material-icons" style="font-size:100px;">people</i>
</li>
            <h1>{{currentUser.username}}</h1>
          <li>
<li>  <a href="/tickets/new" class="btn btn-primary navbar-btn"><i class="material-icons" style="font-size:15px;">add</i>
New Evaluation</a>

      <a href="/tickets/queued/user" class="href">Queued</a>
      </li>
      <li>      <a href="/user/{{currentUser.username}}" class="href">Proccessed</a>
</li>

 
    </nav>
    </center>
	      </div>



    <div class="col-sm-6 col-sm-offset-3 bg-card">
      <div class="row">
          <div class="col">
        <h3>{{ticket.imageName}}</h3>
          </div>
    <div class="col-lg text-right">
        <a href="/tickets/{{ticket._id}}/delete" class="href"><i class="material-icons" style="font-size:20px;">delete</i>Delete</a>
        </div>

      </div>

        <p>{{ticket.context}}</p>
        <div><small>{{ticket.author.username}}</small></div>
        <center>

         <img class="show-image" src="{{ticket.url}}">      

        </center>
        </div>

    <div class="col-sm bg-card">
        {{#if ticket.evaluations}}
        <h4>Evaluation</h4>
        {{#each ticket.evaluations}}
            <div>
                <p>{{this.description}}</p>
                <p class="text-right">{{this.author.username}}</p>
            </div>
        {{/each}}
        {{else}}
        <hr>
        {{#if currentUser}}
         <center>
            <h3>Processing</h3>
             <img class="loading-imgage" src="https://46.media.tumblr.com/345127a42a4baf76158920730f808f3b/tumblr_nak5muSmwi1r2geqjo1_500.gif" class="responsive">
         </center>
        {{else}}
            <h6>Log in or sign up to leave a comment.</h6>
        {{/if}}


        {{/if}}

    </div>
</div>