  
<div class="row">
      <div class="col-sm-2 col-sm-offset-3">
    <center>
    <nav id="sidebar" class="navbar-lg align-cente">
        <div class="sidebar-header">
        </div>

        <ul class="list-unstyled components">
<i class="material-icons" style="font-size:100px;">people</i>
</li>
            <h1>{{currentUser.username}}</h1>
          <li>
<li>  <a href="/tickets/new" class="btn btn-primary navbar-btn button-color"><i class="material-icons" style="font-size:15px;">add</i>
New Evaluation</a>

      <a href="/tickets/queued/user" class="href">Queued</a>
      </li>
      <li>      <a href="/user/{{currentUser.username}}" class="href">Proccessed</a>

 
    </nav>
    </center>
    </div>
    <div class="col-lg bg-card">
        <ul>
            {{#each tickets}}

              <li class="list-group-item list-group-item-card">
                <div class="lead">
                  <a href="/tickets/{{this._id}}/user" class="lead">{{this.imageName}}</a>
                </div>
                <div class="text-right">
                  <a href="/n/{{this.profile}}">{{this.author.username}}</a>
                </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>



